*{
    font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}



.header{
    padding-bottom: 20px;
    padding-left: 80px;
    background-color: #f7f8f8;
    text-transform: uppercase;
    font-size: 0.8em;

} 
.header-bottom-bar{
    padding: 20px;
    padding-left: 80px;
    box-shadow: 0 1px 1px #00000041;
}

.top-bar-items{
    display: inline-block;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}


a {
    text-decoration: none;
}



.header{
    padding-top: 10px;
}

.selectInput{
    padding: 10px;
    width: 200px
}

.search{
    width: 40vw;
}

.fa-magnifying-glass{
    background-color: #002f34;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
}
.sell-button{
    margin-left: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    border-bottom: 3px solid #662d91;
    border-top: 3px solid #662d91 ;
    border-left: 3px solid #ffce32;
    border-right: 3px solid #23e5db;
}
.top-bar-icons{
    padding: 20px;
    font-size: 20px;

}
li {
    display: inline-block;
    padding-right: 10px;
    font-size: 0.8em;
}
li:hover{
    cursor: pointer;
    color: #b048d1;
}
.txt-bold{
    font-weight: bold;
}
.mySlides{
    display: none;
}
.all-cat{
    display: inline-block;
}

.mySlides{
   width: 100%;
   border-radius: 5px;
}
.header-ad, 
.cat-area {
    padding: 0 80px;
    margin-top: 10px;
    
}